@use "./util/_index" as *;
@use './typography.scss' as *;
@use './grid.scss' as *;

$mycolor: #141314;

*{
  font-smooth: almays;
  text-shadow: 0px 0px 1px transparent;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}
body, html{
  width: 100%;
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  padding: 0;
  font-family: $font-sans;
}
html {
  overflow: hidden !important;
  &[data-touch="true"] {
    overflow-y: auto !important;
    &.overflowHidden {
      overflow-y: hidden !important;
    }
  }
}

#main{
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  top: 0;
  left: 0;
  user-select: none;
  background: var(--background-primary);
  color: $black;
  transition: background 1s $curve;
  a{
    pointer-events: all;
  }
  @include is-touch() {
    position: static;
    height: auto;
  }
}
#page{
  position: relative;
}
.flex{
  display: flex;
}
button, a{
  &, &:focus{
    outline: none !important;
  }
}
a{
  color: inherit;
  text-decoration: none;
}
.mask{
  overflow: hidden;
  display: block;
  .text{
    display: block;
  }
}
.no-transition {
  &, * {
    transition: none !important;
  }
}
.no-animation {
  &, * {
    animation: none !important;
  }
}
.no-events {
  &, * {
    pointer-events: none !important;
  }
}
.no-transform {
  &, * {
    transform: none !important;
  }
}
.height-auto {
  height: auto !important;
}
#prismic-toolbar-v2{
  display: none !important;
}
[data-scroll-section]:not([data-scroll-sticky]) {
  will-change: transform;
  @include respond-to('desktop') {
    will-change: unset;
  }
}
[data-blur-fade-in-y] {
  @include blur-fade-in-y();
}
[data-blur-fade-in] {
  @include blur-fade-in();
}
[data-fade-in] {
  @include fade-in();
}
[data-fade-in-y] {
  @include fade-in-y();
}
[data-scroll-sticky]{
  width: 100vw;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  position: relative;
  [data-scroll-sticky-container] {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    top: 0;
    left: 0;
    // will-change: transform;
  }
  @include is-touch {
    [data-scroll-sticky-placeholder] {
      display: none;
    }
    [data-scroll-sticky-container] {
      width: 100vw;
      height: auto;
      min-height: $vh100;
      position: relative;
    }
  }
}
#main [data-cursor-pointer] {
  &, * {
    cursor: pointer !important;
  }
}