@forward "sass:math";

@mixin underline() {
  position: relative;
  &::after{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 1px;
    left: 0;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: 100% 0%;
    transition: transform 0.8s cubic-bezier(0.49, 0.23, 0, 1);
  }
  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: 0% 0%;
    }
  }
  @media (pointer:coarse) {
    &::after {
      content: none;
      display: none
    }
  }
}
@mixin fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  &.show {
    opacity: 1;
  }
}
@mixin fade-in-y {
  transition: transform 1s cubic-bezier(0.26, 0.1, 0, 1), opacity 1s cubic-bezier(0.26, 0.1, 0, 1);
  &:not(.show) {
    opacity: 0;
    transform: translateY(100px);
  }
}
@mixin blur-fade-in-y {
  opacity: 0;
  filter: blur(10px);
  transition: opacity 1s ease-in, filter 1s ease-in;
  > * {
    transform: translateY(200px);
    transition: transform 1s cubic-bezier(0.26, 0.1, 0, 1);
  }
  &.show {
    opacity: 1;
    filter: blur(0.1px);
    > * {
      transform: none;
    }
  }
}
@mixin blur-fade-in {
  opacity: 0;
  filter: blur(10px);
  transition: opacity 1s ease-in, filter 1s ease-in;
  &.show {
    opacity: 1;
    filter: blur(0.1px);
  }
}
@mixin safari {
  html[data-browser='safari'] & {
    @content;
  }
}
@mixin safari-mobile {
  html[data-browser='safari-mobile'] & {
    @content;
  }
}
@mixin ios {
  html[data-browser='ios'] & {
    @content;
  }
}
@mixin edge {
  html[data-browser='edge'] & {
    @content;
  }
}
@mixin firefox {
  html[data-browser='firefox'] & {
    @content;
  }
}
@mixin theme($theme-name) {
  html[data-theme='#{$theme-name}'] & {
    @content;
  }
}
@mixin theme-nav($theme-name) {
  html[data-theme-nav='#{$theme-name}'] & {
    @content;
  }
}
@mixin osx {
  html[data-os='osx'] & {
    @content;
  }
}
@mixin windows {
  html[data-os='windows'] & {
    @content;
  }
}
@mixin is-touch {
  html[data-touch='true'] & {
    @content;
  }
}
@mixin not-touch {
  html:not([data-touch='true']) & {
    @content;
  }
}
@keyframes arrow-animation {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(100%);
    opacity: 1;
  }
  21% {
    transform: translateX(100%);
    opacity: 0;
  }
  22% {
    transform: translateX(-100%);
    opacity: 0;
  }
  23% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
  }
}
@function toVW($px) {
  @return ($px / 1440) * 100vw;
}