$curve: cubic-bezier(.19,1,.22,1);

$black: #141314;
$white: #F0ECE6;

$red: #DB5F3C;
$blue: #B2CCE5;
$yellow: #FFBE00;
$pink: #E9AEBC;
$green: #789883;
$olive: #ACAC7A;

$font-sans: 'Neue Montreal', sans-serif;
$font-serif: 'Editorial New', serif;

$vh100: calc(var(--vh, 1vh) * 100);